
= simple_form_for(@checklist) do |f|
  = f.error_notification
  .form-inputs
    = f.input :title
    = f.input :description
    
  %table.table
    %thead
      %tr
        %th Actions
        %th Question Title
        %th Question Description
        
    %tbody.questions
      = f.simple_fields_for :questions do |builder|
        = render 'question_fields', f: builder
        
  .form-actions
    = f.button :submit
    = link_to_add_association 'Add Question', f, :questions, class: 'btn btn-primary', data: { association_insertion_node: '.questions', association_insertion_method: :append }
    
    
    
    
    
    
